*.DS_Store
*.patch
*.diff
*/.libs
*/.deps
*.a
*.o
*.la
*.lo
*.so
aclocal.m4
autom4te.cache
compile
config.*
configure
COPYING
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4
missing
*Makefile
*Makefile.in
stamp-h1
xcuserdata
Build
configure~
project.xcworkspace
xcshareddata
pzb/pzb